[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=BasicGlitch_toolkit
X-Python-2-Compatible=false
Name=BasicGlitch Toolkit
Comment=Official production suite for BasicGlitch.
EnabledByDefault=true